@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
:root {
  --clr-dark: #2b2b2b;
  --clr-light: #ffffff;
  --clr-gray: #d9d9d9;
  --font-style: "Gupter", sans-serif;
  --h1: 5rem;
  --h2: 3.5rem;
  --h3: 2.5rem;
  --h4: 2rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--font-style);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* Header */
.header {
  padding: 3rem 0;
  margin-top: 1.5rem;
  border-bottom: 1px solid var(--clr-dark);
  border-top: 1px solid var(--clr-dark);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 2rem;
}
.container {
  padding: 2rem;
}
.logo {
  font-size: var(--h2);
}
.header a {
  color: var(--clr-dark);
}

/* Banner */
.banner {
  padding: 5rem 0;
}
.banner__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}
.banner__card img:first-child {
  width: 100%;
  height: 95rem;
  object-fit: cover;
}
.banner__right img {
  width: 100%;
  height: 40rem;
}
.banner__card h2 {
  font-size: var(--h2);
  line-height: 3rem;
}
.banner__right .banner__card img:first-child {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 40rem;
}
.banner__right .banner__card img:last-child {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 40rem;
}
.banner__card h3 {
  font-size: var(--h3);
  line-height: 3rem;
}
.banner__card p {
  margin: 2rem 0;
}
.banner__right {
  border-left: 1px solid var(--clr-gray);
  padding-left: 5rem;
}

/* Hot Trending Articles */
.article__title {
  font-size: var(--h2);
  text-align: center;
  font-weight: 500;
  padding: 1rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid var(--clr-gray);
  border-top: 1px solid var(--clr-gray);
}
.article {
  margin: 5rem 0;
}
.article__wrapper {
  display: grid;
  grid-template-columns: 35rem 1fr 1fr;
  gap: 4rem;
  padding: 5rem 0;
  align-items: center;
  justify-content: space-between;
}
.article__wrapper .details {
  display: grid;
  grid-template-columns: 1fr;
}
.details small:first-child {
  font-weight: 700;
}
.article__wrapper p {
  font-size: var(--h3);
}
.article__wrapper img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
}
.details small {
  max-width: 60%;
}
/* Stories */

.title {
  font-size: var(--h2);
  text-align: center;
  font-weight: 500;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--clr-gray);
  border-top: 1px solid var(--clr-gray);
}
.stories {
  padding: 5rem 0;
}
.stories--a {
  grid-area: a;
}
.stories--b {
  grid-area: b;
}
.stories--c {
  grid-area: c;
}
.stories--d {
  grid-area: d;
}
.stories__main {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "a c d"
    "b c e";
}
.stories--a img,
.stories--b img,
.stories--d img,
.stories--e img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.stories--c img {
  width: 100%;
  height: 69rem;
  object-fit: cover;
}

/* Assets */
.details {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin: 1rem 0;
}
